.d-block{
    display:flex;
    flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
#carouselExample{
    
    background-color: rgb(12, 60, 60);
}

.main-text{
	padding: 30px;
}

body{
    padding: 0px 50px 50px 50px;
}
.white-link{
    color:white;
}

.card{
    width:450px;
    
    margin-bottom:10px;
}

.card-img-top{
    width:450px;
}
.cards{
    display:flex;
    gap:20px;
    flex-direction: row;
    padding:20px;
    flex-wrap: wrap;
}
.blog{
    display:flex;
    align-items: center;
  justify-content: center;
  gap: 20px;
}
.blog-pic{
    max-width:40%
}

